.route-header {
    font-family: 'Arial', sans-serif;
    text-align: center;
}
.route-options {
    align-items: center;
    width: 600px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 40px;
    margin: 0 auto 20px;
}
.source-select {
    width: 200px;
    margin-bottom: 10px;
}
